* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding: 20px 160px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#img-container {
  width: 176px;
}

#img-container img {
  width: 100%;
  cursor: pointer;
}

[alt="language-icon"] {
  width: 24px;
}

[alt="search-icon"] {
  width: 32px;
}

li {
  list-style: none;
  font-size: 16px;
  color: #222222bd;
  font-weight: 500;
  padding-inline: 10px;
  cursor: pointer;
}

li img {
  width: 12px;
}
