* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: sticky;
  top: 0px;
}

nav {
  background-color: steelblue;
}

li {
  display: inline-block;
  padding: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

main {
  background-color: black;
  padding: 20px;
}

main section {
  /* margin: 30px auto; */
  background-color: red;
  width: 40vw;
  display: inline-block;
  min-height: 70vh;
}

section:first-child {
  margin-left: 70px;
  background-color: orange;
}

#cta {
  background-color: green;
  min-height: 15vh;
  padding: 30px;
  text-align: center;
}

#cta p {
  border: 3px solid white;
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  display: inline-block;
}

footer {
  text-align: center;
}

footer p {
  padding: 10px 20px;
  font-family: cursive;
  font-size: 12px;
}

#circle {
  width: 25px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  object-fit: cover;
}

img {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
}
