* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  border: 3px solid black;
  margin: 5px;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  /* row-gap: 10px;
  column-gap: 40px; */
  /* flex-wrap: wrap;
  flex-flow: row wrap; */
  align-content: center;
}

.item {
  border: 5px solid red;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bolder;
  border-radius: 10px;
}

.item-1 {
  background-color: orange;
  /* order: 0; */
  /* flex-shrink: 0; */
  /* flex-grow: 0; */
}

.item-2 {
  background-color: rgb(0, 255, 42);
  /* order: 1; */
  /* flex-shrink: 1; */
  /* flex-grow: 1; */
  /* align-self: start; */
}

.item-3 {
  background-color: rgb(93, 0, 255);
  /* flex-shrink: 2; */
  /* flex-grow: 2; */
  /* align-self: end; */
}

.item-4 {
  background-color: rgb(255, 0, 115);
  /* flex-shrink: 3; */
  /* flex-grow: 3; */
}
