/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Element Selector */
body {
  font-family: sans-serif;
  text-align: center;
}

/* Group Selector */
h1,
p {
  margin-bottom: 15px;
}

/* Id Selector */
#heading {
  color: rgb(203, 86, 3);
  font-style: italic;
  margin-bottom: 25px;
  text-decoration: underline wavy;
}

/* Class Selector */
.information {
  color: rgb(154, 68, 6);
  font-style: italic;
  margin-top: -10px;
}

/* Child Selector */
main > ul {
  background-color: black;
  color: white;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

/* Descendant  Selector */
main li {
  list-style: none;
  text-align: left;
}

/* 
    Pseudo-Class Selector 
 A pseudo-class is used to define a special state of an element. 
*/

/* unvisited link */
a:link {
  color: #ff0000;
}

/* visited link */
a:visited {
  color: #00ff00;
}

/* mouse over link */
a:hover {
  color: #ff00ff;
}

/* selected link */
a:active {
  color: #0000ff;
}

li:first-child {
  color: rgba(7, 226, 255, 0.968);
}

li:last-child {
  color: rgb(255, 234, 0);
}

/* 
     Pseudo-Element Selector
 A CSS pseudo-element is used to style specific parts of an element.
*/
li::first-letter {
  font-size: 22px;
  font-style: italic;
}
